:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row-form {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input {
  width: 2ch;
}

#table input {
  width: 10ch;
  height: 1.5em;
  padding: 1px 2px 1px 2px;
  border-radius: 0px;
  font-size: 2em;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#table-container {
  padding-top: 50px;
  align-self: center;
  justify-self: center;
  width: fit-content;
}

#table input:hover {
  /* background-color: blue; */
}

#table td {
  position: relative;
}

#table .controller {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
#table .controller .row,
#table .controller .column {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  /* visibility: hidden; */
  /* opacity: 0; */
}

#table .controller .row:hover,
#table .controller .column:hover {
  /* opacity: 100; */
}
#table .controller .row {
  right: 70%;
  scale: 0.15 0.4;
}

#table .controller .column {
  top: -100%;
  scale: 0.15 0.5;
}

#table .controller .row.remove {
  background-color: lightcoral;
  /* right: 70%; */
}

#table .controller .row.add {
  top: 50%;
  background-color: greenyellow;
}

#table .controller .row.add.before {
  top: -50%;
}

#table .controller .column.add {
  background-color: greenyellow;
  right: -50%;
}

#table .controller .column.add.before {
  right: 50%;
}

#table .controller .column.remove {
  background-color: lightcoral;
  right: 0;
}
